[submodule "maelstrom-messages"]
	path = maelstrom-messages
	url = https://github.com/demiurgosoft/maelstrom-messages
[submodule "maelstrom-world"]
	path = maelstrom-world
	url = git@github.com:demiurgosoft/maelstrom-world.git
[submodule "maelstrom-users"]
	path = maelstrom-users
	url = https://github.com/demiurgosoft/maelstrom-users
[submodule "maelstrom-web"]
	path = maelstrom-web
	url = https://github.com/demiurgosoft/maelstrom-web
